<div
  class="xsm:flex-wrap p-2 py-16 bg-yellow-500 relative flex justify-evenly lg:flex-nowrap"
>
  <div>
    <img
      src="../../../../assets/svg/undraw_reading_re_29f8 (1).svg"
      alt=""
      class="w-72 p-3"
    />
  </div>
  <div class="flex justify-end items-center">
    <div class="flex xsm:items-center flex-col lg:items-end">
      <h1 class="text-7xl p-1 text-slate-800">Stay Curious.</h1>
      <p class="text-2xl p-1 text-slate-800">
        Discover stories, thinking, and expertise from writers on any topic.
      </p>
      <button
        class="my-5 bg-slate-800 w-40 text-sm font-bold text-white rounded-full cursor-pointer border-2 border-yellow-300 hover:shadow-inner border-opacity-0 hover:border-opacity-100 p-2 transition duration-100 ease-linear"
      >
        <a href=""> <p>Start Reading</p> </a>
      </button>
    </div>
  </div>
</div>
