<nav class="shadow-md flex justify-between items-center p-1">
  <img src="assets/1_s986xIGqhfsN8U--09_AdA.png" alt="" class="hidden lg:flex w-52" />
  <img src="assets/medium-logo-3610097-3014862.png" alt="" class="flex w-16 lg:hidden " />
  <div class="flex gap-6 px-5 items-center xsm:hidden lg:inline-flex">
    <p class="text-sm text-slate-800 font-normal cursor-pointer">Write</p>
    <p class="text-sm text-slate-800 font-normal cursor-pointer">Sign In</p>
    <p
      class="bg-yellow-500 text-sm font-bold text-white rounded-full cursor-pointer border-2 border-yellow-100 hover:shadow-inner border-opacity-0 hover:border-opacity-100 p-2 transition duration-100 ease-linear"
    >
      Get Started
    </p>
  </div>
  <div class="flex px-4 lg:hidden">
    <fa-icon [icon]="faBars"></fa-icon>
  </div>
</nav>
