<div class="py-5 px-5">
  <div class="flex items-center space-x-4 pb-5">
    <div class="border-2 rounded-full w-8 h-8 flex items-center justify-center">
      <fa-icon [icon]="faChartLine"></fa-icon>
    </div>

    <h1>Trending On Medium</h1>
  </div>
  <div class="my-2 flex gap-10 flex-wrap">
    <div *ngFor="let post of trendingData" class="w-64 flex">
      <div class="pr-4">
        <h1 class="text-gray-300 text-3xl">{{ post.id }}</h1>
      </div>
      <div class="space-y-1">
        <div class="flex space-x-1 items-center pt-1">
          <img
            src="{{ post.image }}"
            alt=""
            class="w-5 h-5 object-cover rounded-full"
          />
          <p class="text-sm">{{ post.author }}</p>
        </div>
        <div>
          <p class="font-bold">{{ post.title }}</p>
        </div>
        <div>
          <p class="text-xs text-gray-400">
            {{ post.date | date }} · {{ post.duration }} Read
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
