<div class="min-h-screen flex justify-between items-center bg-yellow-500">
  <div class="flex flex-col justify-center items-center w-6/12">
    <p class="text-4xl text-white pb-10">Login.</p>
    <img
      src="../../../../assets/svg/undraw_welcome_re_h3d9.svg"
      alt=""
      class="w-80"
    />
  </div>
  <div
    class="flex justify-center flex-col items-center p-10 w-6/12 bg-white min-h-screen"
  >
    <h1 class="text-3xl pt-7 pb-3">Welcome Back.</h1>
    <hr class="w-72" />
    <div class="flex pt-2 flex-col gap-y-3">
      <div
        class="py-1 px-2 flex gap-2 items-center rounded-full border-2 border-gray-200 hover:shadow-md transition duration-100 cursor-pointer"
      >
        <img
          src="https://img.icons8.com/color/480/000000/google-logo.png"
          class="w-5 h-5"
        />
        <p class="text-sm">Sign In with Google</p>
      </div>
      <div
        class="py-1 px-2 flex gap-2 items-center rounded-full border-2 border-gray-200 hover:shadow-md transition duration-100 cursor-pointer"
      >
        <img
          src="https://img.icons8.com/glyph-neue/512/000000/github.png"
          class="w-5 h-5"
        />
        <p class="text-sm">Sign In with Github</p>
      </div>
      <div
        class="py-1 px-2 flex gap-2 items-center rounded-full border-2 border-gray-200 hover:shadow-md transition duration-100 cursor-pointer"
      >
        <img
          src="https://img.icons8.com/color/480/000000/facebook-new.png"
          class="w-5 h-5"
        />
        <p class="text-sm">Sign In with Facebook</p>
      </div>
      <div
        class="py-1 px-2 flex gap-2 items-center rounded-full border-2 border-gray-200 hover:shadow-md transition duration-100 cursor-pointer"
      >
        <img
          src="https://img.icons8.com/ios-filled/50/000000/mac-os.png"
          class="w-5 h-5"
        />
        <p class="text-sm">Sign In with Apple</p>
      </div>
      <div
        class="py-1 px-2 flex gap-2 items-center rounded-full border-2 border-gray-200 hover:shadow-md transition duration-100 cursor-pointer"
      >
        <img
          src="https://img.icons8.com/ios/100/000000/mail.png"
          class="w-4 h-4"
        />
        <p class="text-sm">Sign In with Email</p>
      </div>
    </div>
    <div class="mt-5">
      <p class="text-sm cursor-pointer">
        No Account ?
        <span class="text-green-600 font-semibold hover:underline"
          >Create One</span
        >
      </p>
    </div>
    <div class="pt-5">
      <p class="text-xs text-center text-gray-600">
        Click “Sign In” to agree to Medium’s
        <span class="underline">Terms of Service</span> and acknowledge that
        Medium’s <span class="underline">Privacy Policy</span> applies to you.
      </p>
    </div>
  </div>
</div>
