@mixin button-bg($bg) {
  background: $bg;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}
